/* Skranji */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Overpass */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root { 
    --focused-outline: #779EA6;
    --invalid-input: #E3242B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif, system-ui;
}

.main__container {
    height: 100vh;
    background-color: #F8FAFA;
    display: grid;
    grid-template-columns: 35% 65%;
}

.image__container {
    position: relative;
    background-image: url("images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

.banner {
    margin-top: 9rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner > h1 {
    font-family: 'Skranji', sans-serif, system-ui;
    letter-spacing: 0.2rem;
}

.down__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;

    background: transparent;
    border: none;
    color: #fff;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Hides the button on large screens */
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.feather-chevrons-down {
    animation: bounce 800ms ease-in-out infinite;
}

.icon {
    height: 72px;
}

.background__image {
    object-fit: contain;
}

.form__container {
    display: grid;
    place-items: center;
    justify-items: start;
}

.message__container {
    padding: 0 2.5rem;
    align-self: end;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message__container > p { 
    color: #3d3c3c;
    font-weight: 600;
    font-size: 1.2rem;
    width: 80%;
    line-height: 1.1rem;
}

.registration__form{
    padding: 1.3rem 2.5rem;
    width: 100%;
    background-color: #fff;
    display: grid;
    gap: 1.2em;
    justify-content: start;
    grid-template-columns: repeat(2, 33%);
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / .1);
}

.registration__form > h3 {
    grid-area: 1 / 1 / 1 / 3;
}

.input__container{
    display: flex;
    flex-direction: column;
}

.input__container > label {
    letter-spacing: 0.1em;
    font-size: 0.7rem;
    font-weight: 500;
    color: #3d3c3c;
}

.input__container > input {
    font-weight: 550;
    padding: 0.3rem 0.5rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    color: #3d3c3c;
}

.input__container > input:focus {
    outline: 1px solid var(--focused-outline);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: outline 0.2s ease-in-out;
}

.input__container > input:user-invalid {
    outline: 1px solid var(--invalid-input, #FF0000)
}

.account__actions__container {
    align-self: start;
    padding: 0 2.5rem;
    display: grid;
    gap: 1rem;
}

.account__actions__container > button {
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: var(--focused-outline);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}

.account__actions__container > button:hover {
    background-color: #5F868D;
}

.account__actions__container > span {
    font-size: 0.9rem;
}

@keyframes bounce {
    0% {
        transform: translateY(1.5rem);
    }

    25% {
        transform: translateY(1.2rem);
    }

    50% {
        transform: translateY(1.3rem);
    }

    75% {
        transform: translateY(1.25rem);
    }

    100% {
        transform: translateY(1.5rem);
    }
}

/* Responsiveness to be continued */
@media (max-width: 768px) {
    .main__container{
        grid-template-columns: 1fr;
        /* grid-template-rows: auto auto; */
    }

    .registration__form {
        grid-template-columns: repeat(2, 1fr);
    }

    .down__button {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }
}